# Standard Maven .gitignore
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# BlueJ files
*.ctxt

# VM Crash Files
hs_err_pid*

# Log file
*.log
/.settings
/.project
/.classpath

# IntelliJ
*.iml
.idea/*
!.idea/runConfigurations/

# Visual Studio Code
.settings/
.classpath
.factorypath
.project
.vscode/
