/*Login-Page*/

.loginLeftBG {
  -fx-background-color: #536DF3;
}

.loginRightBG {
  -fx-background-color: #fff;
}

.loginBtn {
  -fx-background-color: transparent;
  -fx-border-color: black;
  -fx-border-width: 2px;
  -fx-border-radius: 8px;
}

.loginBtn:hover {
  -fx-background-color: lightgrey;
}

.loginBtn:pressed {
  -fx-background-color: grey;
}

.inputUSR,
.inputPWD {
  -fx-background-color: transparent;
  -fx-border-width: 0 0 2px 0;
  -fx-border-color: #536DF3;
}

.loginExit {
  -fx-background-color: transparent;
  -fx-padding: 0 10px;
}

.loginExit:hover {
  -fx-background-color: lightgrey;
}

.loginExit:pressed {
  -fx-background-color: grey;
}
